* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* Scroll Bar Removal */
body {
  overflow-x: hidden;
}

::-webkit-scrollbar {
  display: none;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

li {
  list-style: none;
}

.font-weight-bold1 {
  font-size: 3rem;
}

p {
  font-size: 0.9rem;
  line-height: 1.6;
  font-weight: 400;
  color: #fff;
}
.hi {
  background-color: #040023;
}

.extradiv h2,
.servicediv h2 {
  font-size: 0.9rem;
  margin: 20px 0 15px 0;
  font-weight: bold;
  line-height: 1.1;
  word-spacing: 4px;
  color: #00abff;
}

i {
  color: #2fccd0;
}

/* XXXXXXXXXXXXXXXXXXXXX common style ends here XXXXXXXXXXXXXXXXXXX */

.header {
  width: 100%;
  height: 100vh;

  /* background-image: linear-gradient(#34f7fa, #2fccd0);
    background-repeat: no-repeat;
    background-size: cover;
    clip-path: polygon(100% 0, 100% 77%, 50% 100%, 0 75%, 0 0); */
  position: relative;
}

.header::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.4;
  z-index: -1;
  background: #040023;
}

.navbar::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.4;
  z-index: -1;
  background: #040023;
}

.nav-item a {
  color: #fff !important;
  font-weight: bold;
}

/* ********************* landing ******************** */

.header-section {
  color: #fff;
  text-align: center;
  position: relative;
}

/* .center-div {
    position: absolute;
    width: 100%;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
  } */
.header-buttons {
  padding-right: 50px;
  padding-left: 50px;
}

.header-buttons a {
  border: 1px solid #fff;
  border-radius: 100px;
  margin: 0 5px;
  padding: 12px 35px;
  outline: none;
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.4;
  text-align: center;
  text-decoration: none;
}

.header-buttons a:hover {
  color: #50d1c0;
  background-color: #fff;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
}

.center-div p {
  font-size: 1.4rem;
  padding: 10px 0 20px 0;
  color: #fff;
}

.landing {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-image: url(2773233.webp);
}

.landing-animation {
  height: 100vh;
  width: 40%;
  padding-top: 25vh;
  padding-left: 27vh;
  text-align: right;
  align-items: center;
  justify-content: center;
}

/* ********************* about ******************** */

.about {
  height: 100vh;
  flex-wrap: wrap;
  background-color: #000;
  text-align: center;
}

.about-icon {
  width: 44vw;
}

.about-content {
  align-items: center;
  justify-content: center;
  display: flex;
  padding-top: 20vh;
}

/* .about-heading {
  font-size: 45px;
  text-align: center;
  padding-top: 12vh;
  margin-bottom: 50px;
} */

.codepen-heading {
  text-align: center;
  height: 100%;
  top: 20vh;
  position: relative;
}

/* .about-heading:hover {
  color: #fff;
  text-shadow: 0 0 10px #03bcf4, 0 0 20px #03bcf4, 0 0 40px #03bcf4,
    0 0 80px #03bcf4, 0 0 160px #03bcf4;
} */

.about-p {
  font-size: 18px;
  width: 53vw;
}

/* ********************* instructions ******************** */

.instructions {
  height: 100vh;
  background-color: #131313;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

/* .instructions-heading {
  font-size: 45px;
  text-align: center;
  margin-bottom: 5vh;
} */

.instructions-div-1-1 {
  width: 23vw;
  height: 31vh;
  padding: 22px;
}

.instructions-div-1-2 {
  background-color: #f3eee6;
  width: 35vw;
  margin: 1.5vh;
  height: 27vh;
  border-radius: 7px;
}

.instructions-div-heading {
  color: #000;
  font-size: 16px;
  font-weight: 700;
}

.instructions-div-heading-1 {
  color: #000;
  font-size: 25px;
  font-weight: 700;
  margin-top: 4vh;
  text-align: left;
}

.instructions-div-heading-2 {
  align-content: left;
  color: #000;
  font-size: 14px;
  font-weight: 700;
}

.instructions-div-container {
  display: flex;
}

.instructions-div-1 {
  width: 55vw;
  height: 30vh;
  background-color: #fcfaf8;
  margin: 12px;
  display: flex;
  font-weight: 900;
  border-radius: 10px;
}

.instructions-div-2 {
  width: 30vw;
  height: 30vh;
  background-color: #81f6ac;
  margin: 12px;
  padding: 22px;
  border-radius: 10px;
}

.instructions-div-3 {
  width: 23.5vw;
  height: 30vh;
  background-color: #fddd88;
  margin: 12px;
  padding: 22px;
  border-radius: 10px;
}

.instructions-animation {
  width: 600px;
  height: 600px;
}

/* ***********************timeline starts*********************************** */

#codepen-heading-timeline {
  padding-top: 20vh;
  margin-bottom: 0;
  padding-bottom: 0;
}

.container1 {
  width: 60%;
  margin: 0 auto;
  position: relative;
  text-align: center;
  top: -12vh;
}

.container1::before {
  position: absolute;
  left: 50%;
  content: "";
  width: 5px;
  height: 100%;
  background-color: rgb(231, 230, 230);
  border-radius: 5px;
}

.entry {
  margin: 50px 10px;
  position: relative;
}

.indicator {
  position: absolute;
  top: -5px;
  left: calc(50% - 5px);
  width: 15px;
  height: 15px;
  background-color: #16c9f6;
  border-radius: 50%;
}

.indicator span {
  position: relative;
  top: -7px;
  width: 7px;
  height: 7px;
  display: inline-block;
  background-color: #023441;
  border-radius: 50%;
}

.content {
  width: 200px;
  margin: 0 auto;
  transform: translate(-58%, -9px);
  font-size: 14px;
  text-align: right;
}

.entry:nth-child(odd) .content {
  text-align: left;
  transform: translate(60%, -9px);
}

.content span {
  font-weight: 500;
  font-size: 16px;
  display: block;
  color: #16c9f6;
}

.time {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-130%, -48%);
  font-size: 14px;
  padding: 5px 10px;
  border-radius: 25px;
  background-color: #16c9f6;
  box-shadow: 0 3px 6px 0 #033642;
  color: white;
  display: inline-block;
}

.entry:nth-child(even) .time {
  transform: translate(40%, -48%);
}

.text-center {
  padding-top: 5vh;
  padding-right: 5vh;
}

@media only screen and (max-width: 600px) {
  .container1 {
    margin: 0;
  }

  .entry:nth-child(even) .content,
  .entry:nth-child(odd) .content {
    text-align: left;
    transform: translate(60%, -9px);
  }

  .entry:nth-child(even) .time,
  .entry:nth-child(odd) .time {
    transform: translate(-130%, -48%);
  }
}
/* *************timeline ends************************** */

/* ********************* three extra header div starts ******************** */

.header-extradiv {
  background-color: #040023;
  width: 100%;
  height: auto;
  margin: 100px 0;
  text-align: center;
}

.extradiv p {
  text-align: justify;
}

.extradiv {
  background-color: #040023;
  border: none;
  padding: 30px !important;
  border-radius: 3px;
  transition: 0.3s;
}

.extradiv:hover {
  color: #040023;
  box-shadow: -10px 10px 20px 10px rgba(62, 169, 211, 0.3);
  transform: translateY(-20px);
}

/* ********************* three extra header div ends ******************** */

/* ******************* service offer css start ********************** */

.serviceoffers {
  background-color: #040023;
  padding: 50px 0;
  margin-bottom: 50px;
}

.headings {
  margin-bottom: 50px;
}

.headings h1 {
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
}

.names h1 {
  color: #2e2e2e;
  font-size: 0.9rem;
  text-transform: uppercase;
  font-weight: bold;
}

.service-icons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.progress {
  height: 0.6rem !important;
  margin-bottom: 25px !important;
}

/* ******************* service offer css ends ********************** */

/* ********************* project (completed) starts ****************************** */

.project-work {
  margin: 100px 0;
}

.project-work h1 {
  font-size: 2rem;
  text-align: center;
}

/* ********************* project (completed) ends ****************************** */

/* ********************* our pricing starts ******************************  */

.pricing {
  width: 100%;
  height: 100vh;
  padding: 50px;
  position: relative;
}

.pricing::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  background-color: linear-gradient(160deg, #16c9f6 55%, #fff 0%);
}

.money {
  font-size: 40px;
  line-height: 1;
  color: #606060;
}

.card {
  transition: 0.4s ease;
  border: 0.5px solid #fff !important;
}

.card-header {
  font-size: 1.6rem;
  font-weight: bold;
  background: #040023 !important;
  padding: 25px 0 !important;
}

.card-body {
  padding: 30px 0 !important;
  background: #040023 !important;
}

.card-body li {
  margin: 10px 0;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.6;
  color: #606060;
}

.card-footer {
  background: #040023 !important;
  padding: 30px 0 !important;
}

.card-footer a {
  border: 1px solid #fff !important;
  border-radius: 100px;
  margin: 0 5px;
  padding: 12px 35px;
  outline: none;
  color: #50d1c0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.4;
  text-align: center;
}

.card:hover .card-footer a {
  text-decoration: none;
  color: black;
  background-color: #50d1c0;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
}

.card:hover {
  transform: translateY(-20px);
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
}

.card:hover .card-header,
.card:hover .money,
.card:hover li {
  color: #50d1c0;
}

.card-second {
  transform: translateY(-20px);
  background-color: #040023 !important;
  /* box-shadow: 0 0 20px 0 rgba(0,0,0,0.3); */
}
.card-third {
  transform: translateY(20px);
  background-color: #040023 !important;
}

/* ********************* our pricing ends ****************************** */

/* ********************* our happy clients starts ******************************  */

.happyclients {
  width: 100%;
  height: 100vh;
  padding: 80px 0;
}

.box {
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
  border-radius: 2px;
  transition: 0.3s ease;
}

.box:hover {
  background: #16c9f6;
}

.box:hover p {
  color: #fff;
}

.carousel-indicators {
  position: absolute;
  right: 0;
  bottom: -60px !important;
}

.carousel-indicators li {
  background-color: #16c9f6 !important;
}

.box a {
  position: relative;
}

.box a img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-top: 20px;
}

.box a::after {
  content: "\f10d";
  font-family: FontAwesome;
  width: 40px;
  height: 40px;
  background: linear-gradient(to right, #1e5799 0%, #3ccdbb 0%, #16c9f6 100%);
  color: #fff;
  position: absolute;
  top: 120%;
  left: 70%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box h1 {
  font-size: 18px;
  font-weight: 700;
  color: #000;
  margin-bottom: 10px;
}

.box h2 {
  font-size: 13px;
  font-weight: 400;
  color: #666666;
  margin-bottom: 20px;
}

/* ********************* our happy clients ends ******************************  */

/* ********************* contact us starts ******************************  */

.contactus {
  width: 100%;
  height: 100vh;
  padding: 80px 0;
  position: relative;
}

.contactus::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  background: linear-gradient(330deg, #43d0f3 55%, #040023 0%);
}

.form-button button {
  border: 1px solid #50c1d0;
  border-radius: 100px;
  margin: 0 5px;
  padding: 12px 35px;
  outline: none;
  color: #50d1c0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.4;
  text-align: center;
  background: transparent;
}

form:hover .form-button button {
  background: #fff;
  color: #50d1c0;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
}

::placeholder {
  font-size: 0.85rem;
}

/* ********************* contact us ends ******************************  */

/* ********************* newsletter starts ****************************** */

.newsletter {
  width: 100%;
  height: auto;
  margin: 80px 0;
}

.newsletter-input {
  border-radius: 100px 0px 0px 100px !important;
  min-width: 150px;
  min-height: 45px;
}

.input-group-text {
  color: #fff !important;
  background: #5bc0de !important;
  border-radius: 0 100px 100px 0 !important;
  min-width: 130px;
  min-height: 45px;
}

.input-group-text:hover {
  cursor: pointer;
  opacity: 0.8;
}

/* *********************  newsletter ends ****************************** */

/* *********************  footer starts ****************************** */

.footersection {
  width: 100%;
  height: auto;
  padding: 70px 0 20px 0;
  background: #00abff;
  position: relative;
}

.footersection p {
  color: #fff;
}

.footer-navlinks {
  text-align: center;
}

.footersection li a {
  font-size: 0.9rem;
  line-height: 1.6;
  font-weight: 400;
  color: #fff;
  text-transform: capitalize;
}

.footersection h3 {
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 25px;
  font-size: 1.2rem !important;
  font-weight: 600;
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
}

#myBtn {
  /* display: none; */
  position: fixed;
  bottom: 2rem;
  right: 4rem;
  z-index: 10;
  border: none;
  color: #fff;
  background: #00abff;
  padding: 10px;
  border-radius: 10px;
}

#myBtn:hover {
  background: #606060;
}

/* *********************  footer ends ****************************** */

/* ****************** Media Queries ********************** */

@media (max-width: 770px) {
  .nav-item {
    text-align: center !important;
  }

  .pricing,
  .happyclients,
  .contactus {
    height: auto;
    margin-top: 50px;
  }

  .card-second {
    transform: translateY(0px);
    margin: 30px 0;
  }

  .contactus p {
    padding: 0 50px;
  }

  .footer-navlinks {
    text-align: left;
  }

  .footer-div {
    margin: 30px 0;
  }

  /* ********************* landing ******************** */
  .landing-animation {
    display: none;
  }

  .landing{
    height: 100vh;
  }

  .header-section {
    margin-top: 20vh;
    color: #fff;
    text-align: center;
    position: relative;
  }

  #landing-heading{
    font-size: 32px;
  }

  .center-div{
    padding: 10px;
    top: -10vh;
    position: relative;
  }

  #landing-p{
    font-size: 18px;
  }

  .header-buttons{
    padding: 10px;
  }

  /* ********************* About Us ******************** */

  .about {
    height: 117vh;
  }

  .codepen-heading {
    text-align: center;
    height: 100%;
    padding-bottom: 0;
    margin-bottom: 0;
    top: 10vh;
  }

  .about-icon {
    width: 400px;
    height: 400px;
    position: relative;
    top: -8vh;
  }

  .about-content {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    padding: 0;
  }

  /* .about-heading {
    font-size: 45px;
    text-align: center;
    padding-top: 12vh;
    margin-bottom: 50px;
  } */

  .about-p {
    font-size: 14px;
    top: -12vh;
    position: relative;
    width: 80vw;
  }

  /* ********************* Instructions ******************** */

  .instructions {
    height: 100vh;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    height: auto;
  }

  #instructions-heading {
    top: 10vh;
    position: relative;
    z-index: 1;
  }

  .instructions-animation {
    width: 350px;
    height: 350px;
    order: 1;
    overflow: hidden;
    top: -5vh;
    position: relative;
  }

  .instructions-content {
    order: 2;
  }

  .instructions-div-heading {
    color: #000;
    font-size: 12px;
    font-weight: 700;
    margin: 0;
  }

  .instructions-div-heading-1 {
    color: #000;
    font-size: 18px;
    font-weight: 700;
    margin-top: 4vh;
    text-align: left;
    margin: 7px 0 7px 0;
  }

  .instructions-div-heading-2 {
    align-content: left;
    color: #000;
    font-size: 12px;
    font-weight: 700;
    margin: 7px 0 7px 0;
  }

  #instructions-div-heading {
    font-size: 12px;
    font-weight: 700;
    margin: 0;
  }

  #instructions-div-heading-1 {
    color: #000;
    font-size: 17px;
    font-weight: 700;
    margin-top: 4vh;
    text-align: left;
    margin: 5px 0 5px 0;
  }

  #instructions-div-heading-2 {
    align-content: left;
    color: #000;
    font-size: 12px;
    font-weight: 700;
    margin: 4px 0 4px 0;
  }

  .instructions-div-container {
    display: flex;
    flex-direction: column;
  }

  .instructions-div-1 {
    width: 80vw;
    height: 30vh;
    background-color: #fcfaf8;
    margin: 8px;
    display: flex;
    font-weight: 900;
    border-radius: 6px;
  }

  .instructions-div-2 {
    width: 80vw;
    height: 23vh;
    background-color: #81f6ac;
    margin: 8px;
    padding: 22px;
    border-radius: 6px;
  }

  .instructions-div-3 {
    width: 80vw;
    height: 23vh;
    background-color: #fddd88;
    margin: 8px;
    padding: 22px;
    border-radius: 6px;
  }

  .instructions-div-1-1 {
    width: 38vw;
    height: 30vh;
    padding: 10px;
  }

  .instructions-div-1-2 {
    background-color: #f3eee6;
    width: 39vw;
    margin: 1.5vh;
    height: 27vh;
    border-radius: 7px;
  }
}

/* ********************* Codepen Button ******************** */

/* .header-buttons button span {
  justify-content: center;
  padding-bottom: 10px;
}

.btn-5 {
  width: 130px;
  height: 40px;
  line-height: 42px;
  padding: 0;
  border: none;
  background: rgb(255, 27, 0);
  background: linear-gradient(
    0deg,
    rgba(255, 27, 0, 1) 0%,
    rgba(251, 75, 2, 1) 100%
  );
}
.btn-5:hover {
  color: #f0094a;
  background: transparent;
  box-shadow: none;
}
.btn-5:before,
.btn-5:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 2px;
  width: 0;
  background: #f0094a;
  box-shadow: -1px -1px 5px 0px #fff, 7px 7px 20px 0px #0003,
    4px 4px 5px 0px #0002;
  transition: 400ms ease all;
}
.btn-5:after {
  right: inherit;
  top: inherit;
  left: 0;
  bottom: 0;
}
.btn-5:hover:before,
.btn-5:hover:after {
  width: 100%;
  transition: 800ms ease all;
}
*/

.custom-btn {
  width: 130px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  outline: none;

  margin-right: 10px;
}

.btn-4 {
  background-color: #4dccc6;
  background-image: linear-gradient(315deg, #4dccc6 0%, #96e4df 74%);
  line-height: 42px;
  padding: 0;
  border: none;
}
.btn-4:hover {
  background-color: #89d8d3;
  background-image: linear-gradient(315deg, #89d8d3 0%, #03c8a8 74%);
}
.btn-4 span {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}
.btn-4:before,
.btn-4:after {
  position: absolute;
  content: "";
  right: 0;
  top: 0;
  box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, 0.9),
    -4px -4px 6px 0 rgba(116, 125, 136, 0.2),
    inset -4px -4px 6px 0 rgba(255, 255, 255, 0.9),
    inset 4px 4px 6px 0 rgba(116, 125, 136, 0.3);
  transition: all 0.3s ease;
}
.btn-4:before {
  height: 0%;
  width: 0.1px;
}
.btn-4:after {
  width: 0%;
  height: 0.1px;
}
.btn-4:hover:before {
  height: 100%;
}
.btn-4:hover:after {
  width: 100%;
}
.btn-4 span:before,
.btn-4 span:after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, 0.9),
    -4px -4px 6px 0 rgba(116, 125, 136, 0.2),
    inset -4px -4px 6px 0 rgba(255, 255, 255, 0.9),
    inset 4px 4px 6px 0 rgba(116, 125, 136, 0.3);
  transition: all 0.3s ease;
}
.btn-4 span:before {
  width: 0.1px;
  height: 0%;
}
.btn-4 span:after {
  width: 0%;
  height: 0.1px;
}
.btn-4 span:hover:before {
  height: 100%;
}
.btn-4 span:hover:after {
  width: 100%;
}

/* ********************* Codepen Button 2******************** */

.btn-7 {
  background: linear-gradient(
    0deg,
    rgba(255, 151, 0, 1) 0%,
    rgba(251, 75, 2, 1) 100%
  );
  line-height: 42px;
  padding: 0;
  border: none;
}
.btn-7 span {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}
.btn-7:before,
.btn-7:after {
  position: absolute;
  content: "";
  right: 0;
  bottom: 0;
  background: rgba(251, 75, 2, 1);
  box-shadow: -7px -7px 20px 0px rgba(255, 255, 255, 0.9),
    -4px -4px 5px 0px rgba(255, 255, 255, 0.9),
    7px 7px 20px 0px rgba(0, 0, 0, 0.2), 4px 4px 5px 0px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
}
.btn-7:before {
  height: 0%;
  width: 2px;
}
.btn-7:after {
  width: 0%;
  height: 2px;
}
.btn-7:hover {
  color: rgba(251, 75, 2, 1);
  background: transparent;
}
.btn-7:hover:before {
  height: 100%;
}
.btn-7:hover:after {
  width: 100%;
}
.btn-7 span:before,
.btn-7 span:after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  background: rgba(251, 75, 2, 1);
  box-shadow: -7px -7px 20px 0px rgba(255, 255, 255, 0.9),
    -4px -4px 5px 0px rgba(255, 255, 255, 0.9),
    7px 7px 20px 0px rgba(0, 0, 0, 0.2), 4px 4px 5px 0px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
}
.btn-7 span:before {
  width: 2px;
  height: 0%;
}
.btn-7 span:after {
  height: 2px;
  width: 0%;
}
.btn-7 span:hover:before {
  height: 100%;
}
.btn-7 span:hover:after {
  width: 100%;
}

/* ********************* Codepen Headings******************** */

.svg-wrapper {
  top: 50%;
  transform: translateY(-50%);
  margin: 0 auto;
  width: 320px;
  text-align: center;
}

.shape {
  stroke-dasharray: 140 540;
  stroke-dashoffset: -474;
  stroke-width: 8px;
  fill: transparent;
  stroke: #19f6e8;
  border-bottom: 5px solid black;
  transition: stroke-width 1s, stroke-dashoffset 1s, stroke-dasharray 1s;
}

.text {
  font-family: "Roboto Condensed";
  font-size: 22px;
  line-height: 32px;
  letter-spacing: 8px;
  color: #fff;
  top: -48px;
  position: relative;
}

.svg-wrapper:hover .shape {
  stroke-width: 2px;
  stroke-dashoffset: 0;
  stroke-dasharray: 760;
}
